@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "Yeni Kategori Ekle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Kategori Ekle</h1>

@using (Html.BeginForm("AddCategoryAdmin", "Category", FormMethod.Post))
{
    //Burada DB' de kaç kolon varsa hepsini doldurmak zorundayız. Eklemiyor yoksa'
    @Html.HiddenFor(x=>x.CategoryID,  new {@class="form-control"})
    <div class="form-row">
        <div class="col-md-12 mb-3">
            <label for="CategoryName">Kategori Adı</label>
            @Html.TextBoxFor(x=>x.CategoryName, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12 mb-3">
            <label for="CategorUrl">Kategori Url (Boş Geçildiğinde Kendi Otomatik Oluşur)</label>
            @Html.TextBoxFor(x=>x.CategorUrl, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12 mb-3">
            <label for="CategoryDescription">Kategori Açıklaması</label>
            @Html.TextAreaFor(x=>x.CategoryDescription, 15, 3, new {@class = "form-control"})
        </div>
    </div>
    @Html.HiddenFor(x=>x.CategoryStatus,  new {@class="form-control"})
    <div class="form-row">
        <button type="submit" class="btn btn-info">Kategoriyi Kaydet</button>
    </div>
}
<script src="~/js/jquery-3.6.0.min.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>
<script>
    var Icerik = CKEDITOR.replace('CategoryDescription');
</script>